.selectedPage{
    font-weight: bold;
    color: red;
}

.users_pages{
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    background-color: bisque;
}
.users_buttons{
    margin: 10px;
}